<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">

  <div>

    <div class="form-group row" [ngClass]="{'has-danger': (nombre.errors?.minlength || nombre.errors?.required) && nombre.touched}">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
              [(ngModel)]="usuario.nombre"
              name="nombre"
               type="text"
               placeholder="Nombre"
               minlength="5"
               required
               #nombre="ngModel">
        <div class="form-control-feedback" *ngIf="nombre.errors?.required">
          Este campo es requerido
        </div>
        <div class="form-control-feedback" *ngIf="nombre.errors?.minlength">
          Este campo requiere por lo menos {{nombre.errors.minlength.requiredLength}} caracteres
        </div>       
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               [(ngModel)]="usuario.apellido"
               name="apellido"
               type="text"
               placeholder="Apellido"
               #apellido="ngModel"
               required>
        <div *ngIf="nombre.errors?.required">
          Este campo es requerido
        </div>
          
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             [(ngModel)]="usuario.email"
             name="email"
             type="email"
             placeholder="Correo electrónico"
             #email="ngModel"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
      <div *ngIf="nombre.errors?.required">
        Este campo es requerido
      </div>
      <div *ngIf="nombre.errors?.pattern">
        Este correo no es valido
      </div>   
    </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Pais</label>
      <div class="input-group col-md-8">
          <select class="form-control"
           [(ngModel)]="usuario.pais"
           name="pais">
           <option value="">Seleccione un pais</option>
           <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>
          </select>
      </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Sexo</label>
     <div class="col-md-8">
      
     <label class="custom-control custom-radio custom-control-inline">
              <input [(ngModel)]="usuario.sexo"
              name="sexo"
              value="Hombre"
              type="radio"
              class="custom-control-input">
         <span class="custom-control-indicator"></span>
         <span class="custom-control-description">Hombre</span>
     </label>
      
     <label class="custom-control custom-radio custom-control-inline">
              <input [(ngModel)]="usuario.sexo"
              name="sexo"
              value="Mujer"
              type="radio"
              class="custom-control-input">
         <span class="custom-control-indicator"></span>
         <span class="custom-control-description">Mujer</span>
     </label>
      
      </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label">Aceptar </label>
     <div class="col-md-8">
        <div class="form-check">
            <input [(ngModel)]="usuario.acepta" name="acepta" class="form-check-input" type="checkbox" value="" id="defaultCheck1" required>
            <label class="form-check-label" for="defaultCheck1">
              Terminos y condiciones
            </label>
        </div>
      </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>

<pre>
  {{usuario | json}}
</pre>
